@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

.corpo {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Quicksand', sans-serif;
	height: 100vh;
	margin: 0;
	background-color: rgb(49, 72, 85);
}

body div img{
	max-width: 400px;
	border-radius: 30px;
}

.sec1 {
	text-align: center;
}

.textt {
	text-align: center;
	color: rgb(255, 252, 252);
	font-size: 2.0rem;

}

button {
	border: 0;
	font-size: 1.5rem;
	font-weight: 500;
	padding: 16px;
	background: rgb(15, 15, 14);
	color: white;
	margin: 20px 0;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	border-radius: 30px;
	width: 20vh;
}

button:hover {
	background: rgb(114, 114, 114);
}
